html {
  height: 100%;
  overflow-y: scroll;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  min-height: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@keyframes increase {
  0% {
    transform: scale(0.4);
  }

  80% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes on {
  0% {
    left: 2px;
    right: auto;
  }

  50% {
    left: 20px;
  }

  100% {
    right: 2px;
    left: auto;
  }
}
@keyframes off {
  0% {
    right: 2px;
    left: auto;
  }

  50% {
    right: 20px;
  }

  100% {
    right: 40px;
  }
}
