$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width: 320px;

$base-font-color: #333333;
$light-font-color: #ffffff;
$button-color: #7859cf;
$button-secondary-color: #f0ebff;
$background-grey: #f8f8f8;

$page-indent-mobail: 20px;
$page-indent-desktop: 40px;
