$tablet-width: 768px;
$desktop-width: 1440px;
$only-mobile-width: 767px;

$base-font-color: #333333;
$light-font-color: #ffffff;
$button-color: #7859cf;
$button-hover-color: #9070ec;
$button-active-color: #593cac;
$button-secondary-color: #f0ebff;
$background-grey: #f8f8f8;
$base-grey: #bdbdbd;

$page-indent-mobail: 20px;
$page-indent-desktop: 40px;
