.page {
  color: $base-font-color;
  background-color: #ffffff;
}

.page__section,
.page__header,
.page__footer {
  padding: 0 $page-indent-mobail;

  @media (min-width: $desktop-width) {
    padding: 0 $page-indent-desktop;
  }
}

.page__section {
  text-align: center;
}

.page__section-name {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  color: $button-color;
  text-transform: uppercase;
  margin-bottom: 4px;
}

.page__section-title {
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 42px;
    line-height: 64px;
    margin-bottom: 60px;
  }
}
